<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bas Meshit</title>
  <link rel="icon" href="mosque.ico">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

  <!-- CSS writed by hand -->
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="../static/css/bootstrap-css.css">
  <!-- GOOGLE Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">

  <!-- Font Awesome Icons -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
  <script src="https://kit.fontawesome.com/0724e5b9c8.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="sub-header w-100 text-center text-light">
    <nav class="justify-content-between align-items-center d-flex py-5">
      <a class="navbar-brand fs-1 text-info fw-bolder px-3 py-1" href="index.html#header">Бас Мешіт</a>
      <!-- NAMAZ TIME -->
      <div class="d-flex flex-grow-1 justify-content-end mt-2">
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz fajr mb-0 text-center" style="font-size: 11px !important;">Таң
            <br><span id="tan"></span>
          </p>
        </div>
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz sunrise mb-0 text-center" style="font-size: 11px !important;">Күн
            <br><span></span>
          </p>
        </div>
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz dhuhr mb-0 text-center" style="font-size: 11px !important;">Бесін
            <br><span></span>
          </p>
        </div>
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz tan mb-0 text-center" style="font-size: 11px !important;">Екінті
            <br><span></span>
          </p>
        </div>
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz tan mb-0 text-center" style="font-size: 11px !important;">Ақшам
            <br><span></span>
          </p>
        </div>
        <div class="block_timeNamaz align-items-center">
          <p class="time_namaz tan mb-0 text-center" style="font-size: 11px !important;">Құптан
            <br><span></span>
          </p>
        </div>
      </div>

      <div class="d-flex flex-grow-1 justify-content-center mt-2 rounded-5">
        <div class="block_timeNamaz align-items-center rounded-5">
          <p id="time_remain" class="mb-0 text-center text-light" style="font-size: 11px !important;">Қалды
            <br><span class="text-light"></span>
          </p>
        </div>
      </div>

      <!-- <a href="index.html"><img width="100px" src="images/logo.png" id="logo" alt="logo.png"></a> -->
      <div class="nav-links d-flex flex-grow-1 h-100 align-items-center mt-2">
        <ul class="list-unstyled m-0 h-100">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <li class="d-inline-block px-3 py-1 position-relative"><a href="index.html#header"
              class="text-decoration-none text-light fs-6">БАСТЫ</a></li>
          <li class="d-inline-block px-3 py-1 position-relative"><a href="index.html#course"
              class="text-decoration-none text-light fs-6">КУРС</a></li>
          <li class="d-inline-block px-3 py-1 position-relative"><a href="index.html#news"
              class="text-decoration-none text-light fs-6">ЖАҢАЛЫҚ</a></li>
          <!-- <li class="d-inline-block px-3 py-1 position-relative"><a href="prayer.html"
              class="text-decoration-none text-light fs-6">НАМАЗ</a></li> -->
          <li class="d-inline-block px-3 py-1 position-relative"><a href="contact-us.html"
              class="text-decoration-none text-light fs-6">БАЙЛАНЫС</a></li>
          <li class="px-3 py-1 position-relative"><a href="login.html"
              class="text-decoration-none text-light fs-6">КІРУ</a></li>
        </ul>
      </div>
      <i class="fa-solid fa-bars" onclick="showMenu()"></i>

    </nav>
    <h1 class="mt-3 fw-semibold">Registration</h1>
  </section>

  <!------- Registration ------->
  <section class="w-80 py-3 m-auto mt-5">
    <form id="form" class="row g-3">
      <div class="col-md-4">
        <label for="name" class="form-label">Аты</label>
        <input type="text" class="form-control" id="name" value="" required>
        <div class="invalid-feedback">
          Атынызды енгізініз!
        </div>
      </div>
      <div class="col-md-4">
        <label for="surname" class="form-label">Тегі</label>
        <input type="text" class="form-control" id="surname" value="" required>
        <div class="invalid-feedback">
          Тегінізді енгізініз!
        </div>
      </div>
      <div class="col-md-4">
        <label for="phone-number" class="form-label">Телефон Нөмері</label>
        <div class="input-group has-validation">
          <span class="input-group-text">+7</span>
          <input type="text" inputmode="numeric" class="form-control" id="phone-number"
            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" placeholder="7073334040" required>
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            Please provide phone number.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Электрондық пошта</label>
        <input type="text" class="form-control" id="email" aria-describedby="validationServer03Feedback" required>
        <div id="validationServer03Feedback" class="invalid-feedback">
          Please provide a valid Email.
        </div>
      </div>
      <div class="col-md-3">
        <label for="course" class="form-label">Курс</label>
        <select class="form-select" id="course" aria-describedby="validationServer04Feedback" required>
          <option selected disabled value="choose">Choose...</option>
          <option value="quran">Құран жаттау</option>
          <option value="tajweed">Таджуид</option>
          <option value="fundamentals-of-islam">Ислам негіздері</option>
        </select>
        <div id="validationServer04Feedback" class="invalid-feedback">
          Please select a course.
        </div>
      </div>
      <div class="col-md-3">
        <label for="age" class="form-label">Жас</label>
        <input type="text" class="form-control" id="age" aria-describedby="validationServer05Feedback" required>
        <div id="validationServer05Feedback" class="invalid-feedback">
          Please provide a age.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check" aria-describedby="invalidCheck3Feedback"
            required>
          <label class="form-check-label" for="check">
            Agree to terms and conditions
          </label>
          <div id="invalidCheck3Feedback" class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
        <!-- <button class="btn btn-info" type="submit">Send Form</button> -->
        <input class="btn btn-outline-info btn-sm px-4 py-2 rounded-3 submit" type="submit" value="Жіберу">
      </div>
    </form>
  </section>


  <!------- Footer ------->
  <section id="footer" class="footer w-80 m-auto text-center py-4 mt-3">
    <h4 class="h6 mt-3 mb-0 text-center fw-semibold">Біз Туралы</h4>
    <hr width="5%" class="text-center m-auto">
    <p class="text-secondary p-2 lh-base fw-light fs-14px mt-4">This WebSite was maken for Assignment1 of WEB
      Technologies. <br>
      Bas Meshit Main Web Page.</p>

    <div class="row align-items-center gx-0 justify-content-between m-auto w-50">
      <div class="col d-flex justify-content-center">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100085373882026">
          <i class="fa fa-facebook text-info"></i>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a target="_blank" href="https://www.instagram.com/bas_meshit/">
          <i class="fa fa-instagram text-info"></i>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a target="_blank" href="https://t.me/basmeshit">
          <i class="fa fa-telegram text-info"></i>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a target="_blank" href="https://www.youtube.com/channel/UC36B8zwQf5WvdW3uQfc4uuQ">
          <i class="fa fa-youtube text-info"></i>
        </a>
      </div>
      <div class="col d-flex justify-content-center">
        <a target="_blank" href="https://www.tiktok.com/@bas_meshit">
          <i class="fa-brands fa-tiktok text-info"></i>
        </a>
      </div>
    </div>

    <p class="text-secondary p-2 lh-base fw-light fs-14px mt-4">&reg;Made with <i class="fa fa-heart-o"></i> by Angsar
    </p>
  </section>
  <!-- Scroll Top Button -->
  <button type="button" class="btn btn-info text-light btn-floating btn-lg position-fixed m-3 bottom-0 end-0"
    id="btn-back-to-top" style="display: none;">
    <i class="fas fa-arrow-up"></i>
  </button>
  <script src="../static/js/scroll-btn.js"></script>
  <script src="../static/js/toolbar.js"></script>
  <script src="../static/js/registration.js"></script>
  <script src="../static/js/prayer-time.js"></script>
  <script src="../static/js/slider.js"></script>
</body>

</html>